.App {
  display: flex;
  /*padding-top: 1*/
}
.WallLable {
  display: flex;
  width:50%;
  flex-grow:2;
  /*flex-basis: auto;*/
  padding: 3px;
}

img {
  width: 50%
}
.UserLable {
  display: flex;
  width:70%;
  flex-grow:2;
  /*flex-basis: auto;*/
  padding: 3px;
}

.UserList {
  display: flex;

  flex-wrap: wrap;
  padding-left: 5%;
  padding-right: 5%;

  /*overflow-y: auto;*/
  overflow-y: auto;
  max-height: 90vh;
}

.WallList {
  display: flex;
  /*flex-direction: row;*/
  /*flex-shrink: 1;*/
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 5%;
  padding-right: 5%;
  /*width: 80%;*/
  overflow-y: auto;
  /*height: 100%;*/
  max-height: 90vh;
}

.Dashboard {
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
}

.Ranking {
  display: flex;
  flex-direction: column;
}

.Navigation {
  /*display: flex;
  justify-content: center;*/
  /*display: block;*/
  /*overflow:auto;*/
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;

}
