.App {
  display: flex;
  padding: 20px;
  overflow: visible;
  height: 92vh;
  background: #FBEEF0;
  background-image: url("https://s3-eu-west-1.amazonaws.com/climbing-kd/custom/rocks.png");
}

.LogInMain {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: center;
  height: 92vh;
}

.ButtonsLogIn {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

}

.WallEditor {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: center;
  height: 89vh;
}


.Dashboard {
  display: flex;
  overflow: visible;
}

.Nothing {
  display: flex;
  flex-direction: column;
  font-size: 1em;
  align-content: center;
}

.NothingImg {

}
.WallLable {
  display: flex;
  width:50%;
  flex-grow:2;
  padding: 3px;
}

img {
  width: 50%
}
.UserLable {
  display: flex;
  width:70%;
  flex-grow:2;
  padding: 3px;
}

.UserList {
  display: flex;

  flex-wrap: wrap;
  padding-left: 5%;
  padding-right: 5%;
  overflow-y: auto;
  max-height: 90vh;
}

.WallList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: visible;
  overflow-y: auto;
  max-height: 90vh;
}

h1, h2, h4{
  text-align: center;
}
.Ranking {
  display: flex;
  flex-direction: column;
}

.Navigation {
  position: absolute;
  bottom:0px;
  width:100%;
  height: 8vh;
  margin-left:-20px;
}

.RouteView img {
  width:120%;
  margin:-20px;
  margin-bottom:10px;
}
