.WallLable {
  display: flex;
  width:40%;
  flex-grow:2;
  flex-basis: auto;
  padding: 3px;
}

.WallList {
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  flex-wrap: wrap;
  align-content: center;
  width: 80%;
}

.Dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*overflow: scroll;
  min-height: 100%;*/
}

.Navigation {
  display: flex;
  justify-content: center;
}
