.WallLable {
  display: flex;
  width:40%;
  flex-grow:2;
  /*flex-basis: auto;*/
  padding: 3px;
}

.WallList {
  display: flex;
  /*flex-direction: row;*/
  /*flex-shrink: 1;*/
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 5%;
  padding-right: 5%;
  /*width: 80%;*/
  overflow-y: scroll;
  height: 100%;
  max-height: 80vh;
}

.Dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Navigation {
  display: flex;
  justify-content: center;

}
